.r{
    border:1px solid;
    background: yellow;
    height: 20px;
}

.rt{
    border:1px solid;
    background: lightblue;
    height: 20px;
}

section{
   margin: 50px;
   border: 2px solid;
   text-align: center;
   width: 400px;
   padding: 20px;
   background: lightgreen;
}

#error{
   color: red;
}